.conteiner {

display: flex;
flex-direction: row;
justify-content: space-between;
width: 100vw;
height: 50vh;
background-color: yellow;

}

.conteiner div {
width: 200px;
height: 200px;
background-color: red;
}

@media (max-width: 375px) {
.conteiner {
  flex-direction: column;
}

}

 





@media (max-width: 376px) and (max-width: 600px) {
  /* .conteiner{
flex-direction: column;
} */
.conteiner div {
border: 1px solid black;



}
#id2 {
  order: 4;
} 
